name: Delete old image tags from Harbor

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  delete-old-tags:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old eopf-toolkit-python image tags from Harbor
        uses: developmentseed/container-registry-cleanup@v0.2.0
        env:
          REGISTRY_TYPE: harbor
          REPOSITORY_NAME: eopf-toolkit-python
          HARBOR_URL: ${{ secrets.OVH_HARBOR_REGISTRY }}
          HARBOR_USERNAME: ${{ secrets.OVH_HARBOR_USERNAME }}
          HARBOR_PASSWORD: ${{ secrets.OVH_HARBOR_PASSWORD }}
          HARBOR_PROJECT_NAME: eopf-toolkit-python
          VERSION_PATTERN: ^(release-.*|latest|competition)$
          TEST_RETENTION_DAYS: 7
          DRY_RUN: false

      - name: Delete old eopf-toolkit-r image tags from Harbor
        uses: developmentseed/container-registry-cleanup@v0.2.0
        env:
          REGISTRY_TYPE: harbor
          REPOSITORY_NAME: eopf-toolkit-r
          HARBOR_URL: ${{ secrets.OVH_HARBOR_REGISTRY }}
          HARBOR_USERNAME: ${{ secrets.OVH_HARBOR_USERNAME }}
          HARBOR_PASSWORD: ${{ secrets.OVH_HARBOR_PASSWORD }}
          HARBOR_PROJECT_NAME: eopf-toolkit-r
          VERSION_PATTERN: ^(release-.*|latest|competition)$
          TEST_RETENTION_DAYS: 7
          DRY_RUN: false
