name: Publish Docker Images and Book

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      image_changes: ${{ steps.filter.outputs.image_changes }}
    steps:
      - uses: actions/checkout@v4

      - name: Check changed paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            image_changes:
              - 'pyproject.toml'
              - 'uv.lock'
              - 'deployment/(Dockerfile_*|environment*)'

  publish-images:
    needs: detect-changes
    runs-on: ubuntu-latest
    steps:
      - name: Login to OVH Harbor docker registry
        if: needs.detect-changes.outputs.image_changes == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OVH_HARBOR_REGISTRY }}
          username: ${{ secrets.OVH_HARBOR_USERNAME }}
          password: ${{ secrets.OVH_HARBOR_PASSWORD }}

      - name: Checkout code
        if: needs.detect-changes.outputs.image_changes == 'true'
        uses: actions/checkout@v4

      - name: Extract short commit hash
        if: needs.detect-changes.outputs.image_changes == 'true'
        id: commit
        run: echo "hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Build and push python docker image
        working-directory: deployment
        if: needs.detect-changes.outputs.image_changes == 'true'
        run: |
          make build-and-push-docker-image TAG=release-${{ steps.commit.outputs.hash }} PROJECT="python"
          make tag-docker-image TAG=latest PROJECT="python"
          make push-docker-image TAG=latest PROJECT="python"

      - name: Build and push r docker image
        working-directory: deployment
        if: needs.detect-changes.outputs.image_changes == 'true'
        run: |
          make build-and-push-docker-image TAG=release-${{ steps.commit.outputs.hash }} PROJECT="r"
          make tag-docker-image TAG=latest PROJECT="r"
          make push-docker-image TAG=latest PROJECT="r"

  publish-book:
    needs: publish-images
    runs-on: eopf-large
    if: needs.publish-images.result == 'success'
    container:
      # We use the R image as this contains the same Python Dependencies as the Python one, so should work for everything
      image: 4zm3809f.c1.de1.container-registry.ovh.net/eopf-toolkit-r/eopf-toolkit-r:latest
      options: --entrypoint "" --user root
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}


      - name: Install quarto dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          gh \
          curl \
          jq \
          libfontconfig1 \
          libfreetype6 \
          libx11-6 \
          libxrender1 \
          libxext6 \
          ghostscript \
          zlib1g \
          git-all
          pip install uv
          uv sync

      - name: Initialize Git Repository
        run: |
          cd $GITHUB_WORKSPACE
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global --add safe.directory $GITHUB_WORKSPACE
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git fetch origin

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUCKET_NAME: ${{ secrets.RENDER_BUCKET_NAME }}
          ACCESS_KEY: ${{ secrets.RENDER_BUCKET_ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.RENDER_BUCKET_SECRET_KEY }}
          BUCKET_ENDPOINT: ${{ secrets.RENDER_BUCKET_ENDPOINT }}
